<div>
    <app-header [isUserLoggedIn]="true">
    </app-header>
</div>


<html>

<body>
    <div class="content">

        <div class="blog" style="background-image:url('./assets/doctor.png');
height: 100%; 


background-position: center;
background-repeat: no-repeat;
background-size: cover;
">

            <h1>WebAlive Blog</h1>
            <h5>The advancement of technology brings challenges and opportunities to every business. We think it is part of our job to give our clients the insights that matter and keep them up-to-date on what’s happening in the digital space.</h5>
            <h5>The advancement of technology brings challenges and opportunities to every business. We think it is part of our job to give our clients the insights that matter and keep them up-to-date on what’s happening in the digital space.</h5>
            <h5>The advancement of technology brings challenges and opportunities to every business. We think it is part of our job to give our clients the insights that matter and keep them up-to-date on what’s happening in the digital space.</h5>
            <h5>The advancement of technology brings challenges and opportunities to every business. We think it is part of our job to give our clients the insights that matter and keep them up-to-date on what’s happening in the digital space.</h5>
            <h5>The advancement of technology brings challenges and opportunities to every business. We think it is part of our job to give our clients the insights that matter and keep them up-to-date on what’s happening in the digital space.</h5>
            <h5>The advancement of technology brings challenges and opportunities to every business. We think it is part of our job to give our clients the insights that matter and keep them up-to-date on what’s happening in the digital space.</h5>
        </div>
        <div class="blog" style="background-image:url('./assets/doctor.png');
height: 100%; 


background-position: center;
background-repeat: no-repeat;
background-size: cover;
">

            <h1>WebAlive Blog</h1>
            <h5>The advancement of technology brings challenges and opportunities to every business. We think it is part of our job to give our clients the insights that matter and keep them up-to-date on what’s happening in the digital space.</h5>
            <h5>The advancement of technology brings challenges and opportunities to every business. We think it is part of our job to give our clients the insights that matter and keep them up-to-date on what’s happening in the digital space.</h5>
            <h5>The advancement of technology brings challenges and opportunities to every business. We think it is part of our job to give our clients the insights that matter and keep them up-to-date on what’s happening in the digital space.</h5>
            <h5>The advancement of technology brings challenges and opportunities to every business. We think it is part of our job to give our clients the insights that matter and keep them up-to-date on what’s happening in the digital space.</h5>
            <h5>The advancement of technology brings challenges and opportunities to every business. We think it is part of our job to give our clients the insights that matter and keep them up-to-date on what’s happening in the digital space.</h5>
            <h5>The advancement of technology brings challenges and opportunities to every business. We think it is part of our job to give our clients the insights that matter and keep them up-to-date on what’s happening in the digital space.</h5>
        </div>

        <div class="blog" style="background-image:url('./assets/doctor.png');
    height: 100%; 
    
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    ">

            <h1>WebAlive Blog</h1>
            <h5>The advancement of technology brings challenges and opportunities to every business. We think it is part of our job to give our clients the insights that matter and keep them up-to-date on what’s happening in the digital space.</h5>
            <h5>The advancement of technology brings challenges and opportunities to every business. We think it is part of our job to give our clients the insights that matter and keep them up-to-date on what’s happening in the digital space.</h5>
            <h5>The advancement of technology brings challenges and opportunities to every business. We think it is part of our job to give our clients the insights that matter and keep them up-to-date on what’s happening in the digital space.</h5>
            <h5>The advancement of technology brings challenges and opportunities to every business. We think it is part of our job to give our clients the insights that matter and keep them up-to-date on what’s happening in the digital space.</h5>
            <h5>The advancement of technology brings challenges and opportunities to every business. We think it is part of our job to give our clients the insights that matter and keep them up-to-date on what’s happening in the digital space.</h5>
            <h5>The advancement of technology brings challenges and opportunities to every business. We think it is part of our job to give our clients the insights that matter and keep them up-to-date on what’s happening in the digital space.</h5>
        </div>
        <div class="blog" style="background-image:url('./assets/doctor.png');
        height: 100%; 
        
        
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        ">

            <h1>WebAlive Blog</h1>
            <h5>The advancement of technology brings challenges and opportunities to every business. We think it is part of our job to give our clients the insights that matter and keep them up-to-date on what’s happening in the digital space.</h5>
            <h5>The advancement of technology brings challenges and opportunities to every business. We think it is part of our job to give our clients the insights that matter and keep them up-to-date on what’s happening in the digital space.</h5>
            <h5>The advancement of technology brings challenges and opportunities to every business. We think it is part of our job to give our clients the insights that matter and keep them up-to-date on what’s happening in the digital space.</h5>
            <h5>The advancement of technology brings challenges and opportunities to every business. We think it is part of our job to give our clients the insights that matter and keep them up-to-date on what’s happening in the digital space.</h5>
            <h5>The advancement of technology brings challenges and opportunities to every business. We think it is part of our job to give our clients the insights that matter and keep them up-to-date on what’s happening in the digital space.</h5>
            <h5>The advancement of technology brings challenges and opportunities to every business. We think it is part of our job to give our clients the insights that matter and keep them up-to-date on what’s happening in the digital space.</h5>
        </div>
    </div>
</body>





</html>