<form [formGroup]="loginForm">
    <div class="heading col-xs-12 text-center">
        <div style="color:#00a6ff;font-size:14px;">
            Welcome
        </div>
        <div class="heading">

            <input id="name" class="textBox" type="text" placeholder="Name" [formControl]="loginForm.controls['name']">
        </div>
        <div *ngIf="loginForm.controls['name'].hasError('required') && loginForm.controls['name'].touched" class="error-message">required</div>

        <div class="heading">

            <input id="password" class="form-control textBox" type="password" placeholder="password" [formControl]="loginForm.controls['password']">
        </div>
        <div *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched" class="error-message">required</div>
        <div class="heading">
            <input id="email" class="textBox" type="email" placeholder="Email">
        </div>
        <!-- <div *ngIf="loginForm.controls['email'].hasError('required')" class="error-message">required</div> -->
        <div style="color:#00a6ff;font-size:14px;">
            Select Your Gender
        </div>
        <div class="heading">
            <input class="radio heading" type="radio" name="gender" value="male"> Male
            <input class="radio heading" type="radio" name="gender" value="female"> Female
            <input class="radio heading" type="radio" name="gender" value="other"> Other
        </div>



        <button [disabled]="!loginForm.valid" class="login-btn" routerLink="/home">login</button>
    </div>
</form>