<app-header [isUserLoggedIn]="true">
</app-header>
<div>
    <p>
        about-us works! fdhgjsdxj hsfghfsg hasfd'gb;sfgh fghyh dfghsf'kghlsfkgh sgfhlsfgkhl
    </p>
    <p>
        about-us works! fdhgjsdxj hsfghfsg hasfd'gb;sfgh fghyh dfghsf'kghlsfkgh sgfhlsfgkhl
    </p>
    <p>
        about-us works! fdhgjsdxj hsfghfsg hasfd'gb;sfgh fghyh dfghsf'kghlsfkgh sgfhlsfgkhl
    </p>
    <p>
        about-us works! fdhgjsdxj hsfghfsg hasfd'gb;sfgh fghyh dfghsf'kghlsfkgh sgfhlsfgkhl
    </p>
    <p>
        about-us works! fdhgjsdxj hsfghfsg hasfd'gb;sfgh fghyh dfghsf'kghlsfkgh sgfhlsfgkhl
    </p>
    <p>
        about-us works! fdhgjsdxj hsfghfsg hasfd'gb;sfgh fghyh dfghsf'kghlsfkgh sgfhlsfgkhl
    </p>

</div>